name: Node.js CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x, 16.x]

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 8
      uses: actions/setup-java@v1
      with:
        java-version: 8
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: sh ./scripts.startup.sh
    - run: npm install && npm install codecov
    - run: npm run bootstrap
    - run: npm run build --if-present
    - run: npm run ci
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
